@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
header{
  background-color: #006736;
}

.menu a {
  margin: 1rem;
  width: 170px;
  color: white;
  font-size: 18px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.menu a:hover {
  color: #db9300;
}

.h1 {
  color: white;
  background: rgb(0, 103, 48);
  background: linear-gradient(
    90deg,
    rgba(0, 103, 48, 1) 32%,
    rgba(219, 147, 0, 1) 89%
  );
  margin-top: 1rem;
  margin-bottom: 1rem;
 font-weight: bold;
 font-size: 22px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.centrar {
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  font-family: "Ruda", sans-serif;
}

.texto {
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
}

.subtitulos {
  border-top: 5px #db9300 double;
  border-bottom: 5px #006736 double;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* index */

.portada{
  display: flex;
  margin-bottom: 1rem;
}
.carousel{
  width: 50%;
  margin-left: 0.5rem;
}
.imgCar{
  height: 400px;
  object-fit: cover;

}

.section1 {
  background-color: #db9300;
  padding: 40px;
  line-height: 1.5;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0%;
}

/*alquiler*/

.contenedorAlquiler {
  display: flex;
  justify-content: space-evenly;
}
.video{
  width: 50%;
  margin-left: 0.5rem;
}

/*Clases*/
.clases{
  display: flex;
}
.imgClases{
  width: 55%;
  margin-right: 0.5rem;
  height: 710px;
  object-fit: cover;
  margin-bottom: 1rem;
}
.parClases{
  background-color: #db9300;
  padding: 25px;
  line-height: 1.5;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 0.5rem;
}

.formBox{
  margin-left: 0.5rem;
  border:#006736 3px solid;
  padding: 10px;
  margin-bottom: 1rem;
}
.enviar{
  background-color: #db9300;
  font-weight: bold;
}

.imgMariposa {
  width: 500px;
  grid-area: mari;
}

/* .formularioClases {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form div {
  margin-top: 7px;
  margin-bottom: 7px;
} */

#ig {
  color: black;
}

.box {
  border: 3px #006736 outset;
  margin-left: 5px;
}

footer {
  background-color: #006736;
  font-family: "Ruda", sans-serif;
  font-size: 12px;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconify {
  font-size: 2rem;
  margin: 5px;
  color: white;
}
.rotate {
  transform: rotate(15deg);
}
.iconify {
  transition: all 0.3s;
}
.iconify:hover {
  width: 40px;
  height: 40px;
}

/* Grid Alquiler*/

@media (min-width: 700px) and (max-width: 1100px) {
  .gridAlquiler {
    display: grid;
  }
  .contenedorAlquiler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 699px) {
  .gridAlquiler {
    display: grid;
  }
  .contenedorAlquiler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contenedorAlquiler div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .video {
    width: 100%;
  }
}

/*Grid clases*/

.form {
  grid-area: form;
}
.gridClases {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "titulo  titulo titulo titulo"
    "img  img par par"
    "img  img form  form"
    "footer footer footer footer";
  gap: 1rem;
}
@media (min-width: 700px) and (max-width: 1100px) {
  .gridClases {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav titulo titulo"
      "nav  par par"
      " img form form"
      "footer footer footer";
  }
}

@media (max-width: 699px) {
  .gridClases {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "titulo"
      "img"
      "par"
      "form"
      "footer";
  }
  .imgClases {
    margin: auto;
  }
  .formularioClases {
    margin-left: 1rem;
  }
}

/*Grid Escuela*/

.lista1 {
  grid-area: l1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.lista2 {
  grid-area: l2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.lista1 li {
  margin: 10px;
}
.lista2 li {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lista2 h3 {
  margin-top: 10px;
}

.gridEscuela {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "par par mari mari"
    "l1 l1 mari mari"
    "l2 l2 mari mari"
    "footer footer footer footer";
  gap: 1rem;
}

@media (max-width: 699px) {
  .gridEscuela {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "titulo"
      "par"
      "l1"
      "l2"
      "mari"
      "footer";
  }
  .imgMariposa {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
  .lista1 {
    text-align: center;
  }
  .lista2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Grid Contacto*/
.text1 {
  grid-area: text1;
}
.contact {
  grid-area: contacto;
}
.text2 {
  grid-area: text2;
}
.form2 {
  grid-area: form2;
}
.imgLuces {
  grid-area: luz;
}
.gridContacto {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "text1 text1 luz luz"
    "contacto contacto luz luz"
    "text2 text2 luz luz"
    "form2 form2 luz luz"
    "footer footer footer footer";
  gap: 1rem;
}
@media (min-width: 700px) and (max-width: 1100px) {
  .gridContacto {
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "titulo titulo"
      "text1 luz"
      "contacto luz"
      "text2 form2"
      "footer footer";
  }
  .imgLuces {
    width: 100%;
  }
  .form2 {
    margin-right: 5px;
  }
  nav li {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 699px) {
  .gridContacto {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "titulo"
      "text1"
      "contacto"
      "text2"
      "form2"
      "luz"
      "footer";
  }
  .imgLuces {
    width: 100%;
  }
  .form2 {
    margin-right: 5px;
  }
  .contact {
    margin-right: 5px;
  }
}
